absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
anyio==3.4.0
arabic-reshaper==2.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asn1crypto==1.5.1
astroid==2.5.3
astunparse==1.6.3
async-timeout==4.0.2
attrs==19.3.0
auto-py-to-exe==2.20.1
Babel==2.9.1
backcall==0.1.0
beautifulsoup4==4.9.3
bitstring==3.1.7
bleach==3.1.0
bottle==0.12.21
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==5.0.0
certifi==2020.12.5
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.0.0
colorama==0.4.3
cryptography==38.0.1
cssselect2==0.6.0
cycler==0.10.0
Cython==0.29.28
dask==2022.5.0
debugpy==1.5.1
decorator==4.4.1
defusedxml==0.6.0
discord==2.0.0
discord.py==2.0.1
distlib==0.3.4
Django==4.1
django-crispy-forms==1.14.0
Eel==0.14.0
entrypoints==0.3
filelock==3.6.0
flatbuffers==2.0
fonttools==4.28.4
frozenlist==1.3.1
fsspec==2022.3.0
future==0.18.2
gast==0.5.3
gevent==21.12.0
gevent-websocket==0.10.1
google-auth==2.6.5
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.0.0
greenlet==1.1.2
grpcio==1.44.0
h11==0.9.0
h2==3.2.0
h5py==3.6.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.11.3
imutils==0.5.4
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.8.0
jedi==0.15.1
Jinja2==2.10.3
joblib==1.1.0
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.4.0
jupyter-core==4.6.1
jupyter-server==1.13.1
jupyterlab==1.2.4
jupyterlab-pygments==0.1.2
jupyterlab-server==1.0.6
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kivi==0.1.1
kiwisolver==1.1.0
lazy-object-proxy==1.6.0
libclang==13.0.0
llvmlite==0.38.0
locket==1.0.0
lxml==4.9.1
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
mpmath==1.1.0
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
music==0.7b2
mysql-connector==2.2.9
mysql-connector-python==8.0.27
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.5.4
nose==1.3.7
notebook==6.0.2
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
oscrypto==1.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.4.2
parso==0.5.1
partd==1.2.0
patsy==0.5.2
pefile==2021.9.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.20.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.0.1
Pygments==2.4.2
pyHanko==0.13.2
pyhanko-certvalidator==0.19.5
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.3
pylint==2.7.4
PyOpenGL==3.1.0
pyparsing==2.4.5
PyPDF3==1.0.6
pyrr==0.10.3
pyrsistent==0.15.6
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
pyzmq==18.1.1
qrcode==7.3.1
qtconsole==5.2.2
QtPy==1.11.3
reportlab==3.6.11
requests==2.25.1
requests-oauthlib==1.3.1
rfc3986==1.4.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.0
Send2Trash==1.5.0
simpleaudio==1.0.4
six==1.13.0
sklearn==0.0
sniffio==1.2.0
sounddevice==0.4.4
soupsieve==2.2
sqlparse==0.4.2
statsmodels==0.13.2
svglib==1.4.1
sympy==1.4
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.11.2
torch==1.12.1
tornado==6.0.3
tqdm==4.64.0
traitlets==4.3.3
typing_extensions==4.2.0
tzdata==2022.2
tzlocal==4.2
uritools==4.0.0
urllib3==1.26.3
virtualenv==20.14.0
voila==0.3.0
wavio==0.0.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.1
Werkzeug==2.1.1
whichcraft==0.6.1
widgetsnbextension==3.5.2
wrapt==1.12.1
xhtml2pdf==0.2.8
yarl==1.8.1
zipp==0.6.0
zope.event==4.5.0
zope.interface==5.4.0
